In [176]:
import pandas as pd

In [177]:
data = pd.read_csv('Olympics.csv')

## SPLITTING EACH TARGET ACCORDING TO THE MEDAL TYPE

In [178]:
targets_gold = data[['Gold']]
targets_bronze = data[['Bronze']]
targets_silver = data[['Silver']]
inputs = data.drop(['Bronze','Gold','Silver'],axis=1)

## SPLITTING

In [179]:
from sklearn.model_selection import train_test_split

In [180]:
x_train,x_test,y_train,y_test_gold = train_test_split(inputs,targets_gold,test_size=0.2,random_state=42)

from sklearn.linear_model import LogisticRegression
log_reg_gold = LogisticRegression()
log_reg_gold.fit(x_train,y_train)
predictions_gold=log_reg_gold.predict(x_test)

C:\Users\91701\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\91701\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [181]:
x_train,x_test,y_train,y_test_silver = train_test_split(inputs,targets_silver,test_size=0.2,random_state=42)

from sklearn.linear_model import LogisticRegression
log_reg_silver = LogisticRegression()
log_reg_silver.fit(x_train,y_train)

predictions_silver=log_reg_silver.predict(x_test)
log_reg_silver.score(x_train,y_train)

C:\Users\91701\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\91701\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9515565350497022

In [182]:
x_train,x_test,y_train,y_test_bronze = train_test_split(inputs,targets_bronze,test_size=0.2,random_state=42)

from sklearn.linear_model import LogisticRegression
log_reg_bronze = LogisticRegression()
log_reg_bronze.fit(x_train,y_train)

predictions_bronze=log_reg_bronze.predict(x_test)
log_reg_bronze.score(x_train,y_train)

C:\Users\91701\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\91701\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9511139184478912

In [183]:
predictions =pd.DataFrame(predictions_gold, columns=['Gold'])
predictions['Silver']=predictions_silver
predictions['Bronze']=predictions_bronze

In [184]:
predictions

       Gold  Silver  Bronze
0         0       0       0
1         0       0       0
2         0       0       0
3         0       0       0
4         0       0       0
...     ...     ...     ...
54219     0       0       0
54220     0       0       0
54221     0       0       0
54222     0       0       0
54223     0       0       0

[54224 rows x 3 columns]

In [185]:
y_test_gold

        Gold
195789     0
243016     0
265866     0
144505     0
150954     0
...      ...
49858      0
227002     0
2384       0
153252     0
56416      0

[54224 rows x 1 columns]

In [186]:
y_test_silver

        Silver
195789       0
243016       1
265866       0
144505       0
150954       0
...        ...
49858        0
227002       0
2384         0
153252       0
56416        0

[54224 rows x 1 columns]

In [187]:
y_test_bronze

        Bronze
195789       0
243016       0
265866       0
144505       0
150954       0
...        ...
49858        0
227002       0
2384         0
153252       0
56416        0

[54224 rows x 1 columns]

## MANUAL ACCURACY TEST FOR LOGISTIC REGRESSION MODEL

In [188]:
cost_for_gold = y_test_gold['Gold']-predictions['Gold']
cost_for_gold=cost_for_gold.fillna(0)
cost_for_gold=cost_for_gold.sum(axis=0)

In [189]:
cost_for_silver = y_test_silver['Silver']-predictions['Silver']
cost_for_silver=cost_for_silver.fillna(0)
cost_for_silver=cost_for_silver.sum(axis=0)

In [190]:
cost_for_bronze= y_test_bronze['Bronze']-predictions['Bronze']
cost_for_bronze=cost_for_bronze.fillna(0)
cost_for_bronze=cost_for_bronze.sum(axis=0)

In [191]:
total_cost=cost_for_gold+cost_for_silver+cost_for_bronze
total_cost_percentage=(total_cost/y_test_bronze.shape[0])*100
total_cost_percentage

2.6150781941575687